<!DOCTYPE html>
<html>
<head>
    <title>Candidatar-se à Vaga</title>
</head>
<body>
    <h1>Candidatar-se à Vaga: {{ vaga.nome }}</h1>
    <form method="post">
        {% csrf_token %}
        <label for="pretensao_salarial">Pretensão Salarial:</label>
        <select name="pretensao_salarial" id="pretensao_salarial">
            {% for choice in candidato.PRETENSAO_SALARIAL %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endfor %}
        </select><br>
        <label for="experiencia">Experiência:</label><br>
        <textarea name="experiencia" id="experiencia" rows="4" cols="50"></textarea><br>
        <label for="ultima_escolaridade">Última Escolaridade:</label>
        <select name="ultima_escolaridade" id="ultima_escolaridade">
            {% for choice in candidato.ESCOLARIDADES %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endfor %}
        </select><br>
        <input type="submit" value="Candidatar-se">
    </form>
</body>
</html>
