<!DOCTYPE html>
<html>
<head>
    <title>Detalhes da Vaga</title>
</head>
<body>
    <h1>{{ vaga.nome }}</h1>
    <p>Faixa Salarial: {{ vaga.get_faixa_salarial_display }}</p>
    <p>Requisitos: {{ vaga.get_requisitos_display }}</p>
    <h2>Candidatos</h2>
    <ul>
        {% for candidato in candidatos %}
            <li>
                {{ candidato.usuario.username }} - Pretensão Salarial: {{ candidato.get_pretensao_salarial_display }}
                - Última Escolaridade: {{ candidato.get_ultima_escolaridade_display }}
                - Pontuação: {{ candidato.calcular_pontuacao.vaga }}
            </li>
        {% endfor %}
    </ul>
    {% if request.user.is_authenticated %}
        <form method="post" action="{% url 'candidatar_vaga' vaga.id %}">
            {% csrf_token %}
            <input type="submit" value="Candidatar-se">
        </form>
    {% endif %}
</body>
</html>
