<!-- jobs/job_detail.html -->
{% extends 'jobs/base.html' %}

{% block title %}{{ job.title }}{% endblock %}

{% block content %}
    <h1>{{ job.title }}</h1>
    <p>Empresa: {{ job.company }}</p>
    <p>Faixa Salarial: {{ job.get_salary_range_display }}</p>
    <p>Escolaridade Mínima: {{ job.get_education_required_display }}</p>

    <h2>Candidatos</h2>
    <ul>
        {% for candidate in job.candidates.all %}
            <li>{{ candidate.user.email }} - Pretensão Salarial: {{ candidate.get_salary_expectation_display }}</li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated and user.is_company and user == job.company %}
        <a class="btn btn-primary" href="{% url 'job_edit' job.pk %}">Editar</a>
        <a class="btn btn-danger" href="{% url 'job_delete' job.pk %}">Deletar</a>
    {% endif %}
{% endblock %}
